body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding-left: 25vw;
    background-color: #1F2937;
    margin: -10px -10px 0px -10px;
    
}

.header-text {
    color: #F9FAF8;
}

.secondary-text-color {
    color: #E5E7EB;
}

img {
    width: 200px;
    margin-left: auto;
    margin-right: 25vw;
}

ul {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 25vw;
    gap: 16px;
}

li { 
    list-style-type: none;
    
}

.top-page {
    display: flex;
    padding-left: 25vw;
    background-color: #1F2937;
    margin: 0px -10px;
}

.middle-page {
    display: flex;
    flex-direction: column;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.middle-header {
    text-align: center;
}

.gray-square {
    border-radius: 15px;
    width: 150px;
}

.rounded-box {
    width: 150px;
    text-align: center;
}



.footer {
    display: flex;
    margin-top: auto;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
}