body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding-left: 25vw;
    background-color: #1F2937;
    margin: -10px -10px 0px -10px;
    
}

.header-text {
    color: #F9FAF8;
}

.secondary-text-color {
    color: #E5E7EB;
}

img {
    width: 200px;
    margin-left: auto;

    object-fit: cover;
    overflow: hidden;
    top: 0;
    bottom: 0;
    margin: auto;
}
ul {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 25vw;
    gap: 16px;
}

li { 
    list-style-type: none;
    
}

.top-page {
    display: flex;
    padding-left: 25vw;
    background-color: #1F2937;
    margin: 0px -10px;
    min-height: 20vh;
}

.middle-page {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.middle-header {
    text-align: center;
}

.gray-square {
    border-radius: 15px;
    width: 150px;
}

.rounded-box {
    width: 150px;
    text-align: center;
}

.quote-page {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    text-align: center;
    margin: auto -10px;
    min-height: 20vh;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color :#1F2937;
}

.citation {
    margin-left: auto;
    margin-right: 35vw;
}

.footer {
    display: flex;
    margin-top: auto;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
}